form.repo-find
	label.repo-find__label(for='user') Пользователь:
	input#user.repo-find__input(
		type='text',
		ng-model='$ctrl.userName',
		ng-model-options="{updateOn: 'blur change mousedown'}",
		ng-change='$ctrl.download()',
		placeholder='Имя пользователя'
	)
	label.repo-find__label(for='repo') Репозитарий:
	input#repo.repo-find__input(
		type='text',
		ng-model='$ctrl.repoName',
		ng-change='$ctrl.select()',
		list='repo-list',
		placeholder='{{ $ctrl.placRepo }}'
	)
	datalist#repo-list
		option(ng-repeat='repo in $ctrl.repos', value='{{ repo.name }}')
